<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{{ site.title }}</h2>
        <p>{{ site.description }}</p>
      </section>
      {%- include social.html -%}
      <p class="copyright">
        &copy; <a href="mailto:{{ site.email }}">{{ site.author }}</a>.
      </p>
    </div>
    <div>
      <section>
        <h2>Get in touch</h2>
        <p>Want to hire us or join? Any questions not answered?</p>
        <p>Email us at: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        <h2>Test version</h2>
        <p>The images displayed here are placeholders only and will soon be replaced with real images of The Epping Forest Pipe Band.</p>
      </section>
    </div>
  </div>
</footer>
